.content-wrap {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
}

.main {
    width: 70%;
}

.predictions {
    width: 100%;
    background-color: #0A0A0A;
    border: 1px solid #252525;
    border-radius: 5px;
}

.predictions-container {
    border-bottom: 1px solid #252525;
    position: relative;
}

.refresh-match {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
}

.expand-game {
    position: absolute;;
    bottom: 10px;
    right: 50%;
    z-index: 10000;
}

.match-dates {
    text-align: center;
    margin: 30px 0;
}

.arrow {
    display: inline-block;
    transition: transform 0.5s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.predictions-game, .predictions-game--teams {
    display: flex;
}

.predictions-game {
    width: 100%;
    padding: 20px 0 20px 0;
    align-items: center;
}

.predictions-game--details {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.predictions-game:last-child {
    border-bottom: none;
}

.predictions-game--date--type {
    display: flex;
    width: 23%;
    justify-content: space-evenly;
    align-items: center;
}

.predictions-game--date {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-type p {
    font-size: 20px;
    margin: 0;
}

.game-type {
    text-align: center;
}

.predictions-game--date p {
    margin: 0;
}

.predictions-game--teams {
    width: 486px;
    justify-content: space-evenly;
    align-items: center;
}

.vs {
    font-size: 25px;
    margin: 0;
    color: #6c6c6c;
}

.team-wrap {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.team-wrap img {
    width: 80px;
    margin: 0 auto;
}

.hidden-radio {
    display: none;
}


.score {
    width: 30px;
    font-size: 25px;
    background-color: #0A0A0A;
    color: #fff;
    border: 1px solid #252525;
    padding: 2px;
    text-align: center;
}

.result {
    font-size: 40px;
    display: flex;
    align-items: center;
    vertical-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

h1, h2 {
    color: #fff;
    text-align: center;
}

.prediction-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}


.save-predictions {
    margin: 10px auto;
    border: 1px solid #6da656;
    background-color: #92ad4b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    padding: 10px;
}

.save-predictions:hover {
    background-color: #b0d356;
}

.sidebar {
    width: 27%;
}

.table-wrap {
    border-radius: 5px;
    border: 1px solid #252525;
    width: 100%;
}

.standings-table {
    width: 100%;
    border-collapse: collapse;

}

.standings-table th,
.standings-table td {
    padding: 8px;
    text-align: center;
    background-color: #0A0A0A;
    border-collapse: collapse;
}

.standings-table td {
    border-bottom: 1px solid #252525;
}

.standings-table tr:last-child td {
    border-bottom: none;
}

.standings-table td:first-child {
    text-align: unset;
}

.standings-table th:first-child {
    border-top-left-radius: 5px;
}

.standings-table td:first-child {
    border-bottom-left-radius: 5px;
}

.standings-table th:last-child {
    border-top-right-radius: 5px;
}

.standings-table td:last-child {
    border-bottom-right-radius: 5px;
}

.player-predicts {
    width: 30%;
}

.player-predicts--names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 123%;
    align-items: center;
}

.player-bet {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-predicts p {
    margin: 0;
    font-size: 15px;
}

.bet-points {
    color: #e1a042;
    border: 1px solid #e1a042;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}

.team-score {
    font-size: 25px;
    color: #dadada;
}

.user-holder a {
    display: flex;
    align-items: center;
}

.user-holder img {
    margin-right: 2px;
}

.team-logo-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

.google-login-button {
    font-size: 70px;
    background-color: #0a0a0a;
    border: 1px solid #252525;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
}

.google-login-button:hover {
    background-color: #45a049; /* Darker Green */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs {
    padding: 0;
    display: flex;
    justify-content: center;
}

.tabs li {
    list-style-type: none;
}

.tabs li button {
    background: none;
    color: #bbbbbb;
    border: none;
}

.tabs li button:hover {
    color: #ffffff;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding-bottom: 30px;
}

.tab-container.expanded .tab-content:first-of-type {
    display: block;
}

.player-data {
    display: flex;
    gap: 20px;
}

.game-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-summary img {
    height: 30px;
}

.game-summary--score-length {
    text-align: center;
}

.game-score {
    font-size: 20px;
    margin: 0;
}

.game-length {
    margin: 0;
}

.team {
    width: 50%;
}

.player {
    padding: 20px;
    border-bottom: 1px solid #363636;
}

.player:last-child {
    border-bottom: none;
}

.player-info_and_loadout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.player-basic_info {
    display: flex;
}

.champ-img {
    height: 75px;
    margin-right: 20px;
}

.player-loadout {
    display: flex;
    gap: 10px;
}

.player-runes, .player-spells {
    display: flex;
    flex-direction: column;
}

.player-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.game--player-stats img {
    height: 20px;
}

.game--player-stats div {
    display: flex;
}

.game--player-stats img {
    filter: invert(1);
}

.tab-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    background-color: #0e0e0e;
}

.tab-container.expanded {
    max-height: 800px;
}

.match-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.bans img {
    height: 35px;
    filter: grayscale(80%);
}

.player-name {
    font-weight: 600;
    margin: 0 0 -10px 0;
}

.player-champ {
    font-style: italic;
    margin: 0
}

.player-name_and_champion {
    display: grid;
    align-items: center;
}

.betting-odds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.betting-odds div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%
}

.betting-odds p {
    margin: 0;
}

.betting-odds img {
    height: 20px;
}

.champ-img:last-child {
    margin: 0
}

#match-form-container {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

@media (max-width: 800px) {
    .content-wrap {
        flex-direction: column;
        width: 100%;
    }

    .main, .sidebar {
        width: 100%;
    }


    .predictions-game {
        flex-direction: column;
        height: 240px;
        justify-content: space-between;
        position: relative;
    }

    .predict {
        height: 150px
    }

    .predictions-game--date--type {
        width: 75%;
    }

    .predictions-game--date {
        text-align: center;
        flex-direction: unset;
        justify-content: space-between;
    }

    .predictions-game--details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .predictions-game--teams {
        width: 120%;
    }

    .team-wrap {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .game-type--status {
        display: flex;
        justify-content: space-between;
        width: 50%;
        justify-items: center;
    }

    .game-type {
        width: unset;
    }

    .result {
        font-size: 20px;
    }

    .player-predicts {
        display: flex;
        width: 120%;
    }

    .vs {
        margin: 0 5px;
    }

    .player-info_and_loadout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .champ-img {
        width: 48px;
        height: 48px;
        margin-left: 0;
    }

    .bans img {
        width: 24px;
        height: 24px;
        margin-right: 2px;
    }

    .bans {
        display: flex;
        align-items: center;
    }

    .stats--kda img, .stats--cs img, .stats--dmg img, .player-runes img, .player-spells img, .player-items img {
        width: 24px;
        height: 24px;
    }

    .game--player-stats {
        display: flex;
        margin: 10px 0;
    }

    .tab-container.expanded {
        max-height: 1200px;
    }

}
