.team-logo {
   width: 3em;
   object-fit: cover;
}

.match-card {
   color: #e0e0e0;
   background-color: rgba(26, 26, 32, 0.9);
   border-radius: 8px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   min-height: 103px;
   margin-bottom: 10px;
}

.match-wrapper {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 5px 10px 0 10px;
}

.teams-group {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-grow: 1;
   box-sizing: border-box;
   font-size: 1.5em;
}

.team-header {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 150px;
}

.team-header p {
   margin: 0;
   font-size: 1.1em;
   color: #f0f0f0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.team-header:first-child {
   justify-content: flex-end;
}

.team-header:last-child {
   justify-content: flex-start;
}

.score {
   align-items: center;
   justify-content: center;
   font-size: 1.4em;
   color: #ffffff;
   padding: 0 5px;
   width: 120px;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
}

.score span {
   display: flex;
   justify-content: center;
   width: 50px;
}

ul {
   padding: 0;
}

.bets {
   list-style-type: none;
}

.bets,
.match-wrapper > .time {
   width: 200px;
   flex-shrink: 0;
   flex-grow: 0;
   flex-basis: 200px;
}

.time {
   display: flex;
   align-items: center;
   gap: 5px;
}

.time span {
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 4px;
   font-size: 1.2em;
   padding: 5px;
}

.time--hour {
   font-size: 2.5em;
   font-weight: 500;
   margin-left: 5px;
}

.time--minutes,
.time--meridiem {
   font-size: 1em;
   vertical-align: super;
   line-height: 1;
   position: relative;
   top: -0.6em;
}

.image-icon {
   filter: brightness(0) invert(1);
}

.game-icon {
   height: 20px;
   width: 20px;
   font-size: 20px;
   color: #fff;
   padding: 0;
   margin: 0;
}

.score-container {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 10px;
}

.score-card {
   background-color: #2b2b3a;
   border-radius: 8px;
   padding: 7px 5px 10px 5px;
   text-align: center;
   color: #f0f0f0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   transition: background-color 0.3s ease;
   width: 160px;
   flex-shrink: 0;
   flex-grow: 0;
   flex-basis: 160px;
   font-size: 10px;
}

.score-card::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: var(--after-bg);
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   transition: background-color 0.3s ease;
}

.score-card:hover,
.score-card.active {
   background-color: #0c0c11;
}

.score-card--time {
   font-size: 1.1em;
   color: #b0b0b0;
   display: flex;
   justify-content: center;
}

.score-card--match-info {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.team_logo.small {
   height: 30px;
   width: 30px;
}

.player-stats {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 20px;
}

.items {
   display: grid;
   grid-template-columns: repeat(3, 18px);
}

.spells {
   display: grid;
   grid-template-columns: repeat(1, fr);
}

.runes {
   position: relative;
}

.rune-icon:first-child {
   height: 35px;
   object-fit: contain;
}

.rune-icon:last-child {
   position: absolute;
   height: 17px;
   object-fit: contain;
   bottom: 0;
   right: 0;
}

.loadout-icon {
   height: 18px;
   width: 18px;
   border-radius: 4px;
}

.kda {
   font-size: 20px;
   font-weight: 500;
   color: #fff;
   letter-spacing: 5px;
   width: 120px;
   display: flex;
   justify-content: space-between;
}

.kda span {
   text-align: center;
}

.slash {
   font-size: 16px;
   color: #5a5a5a;
}

.deaths {
   color: #f7665e;
}

.kda-ratio {
   text-align: center;
}

.role {
   height: 25px;
   filter: brightness(0.7);
}

.champion {
   height: 45px;
   border-radius: 20px;
}

.player-wrapper {
   width: 150px;
   display: flex;
   flex-direction: column;
}

.player-wrapper.team2 {
   align-items: end;
}

.stat-bar {
   display: none;
}

.stat-bar.active {
   display: block;
}

.player-wrapper .stat-bar {
   width: 100%;
   background-color: var(--blue-team-color);
   text-align: end;
   font-size: 11px;
   padding: 1px 4px;
   font-weight: 600;
   border-radius: 4px;
}

.stat-bar.red {
   background-color: var(--red-team-color);
}

.stat-bar.blue {
   background-color: var(--blue-team-color);
}

.player-wrapper.team2 .stat-bar {
   text-align: left;
}

.team-stats {
   width: 90%;
}

.teams {
   display: flex;
   justify-content: space-around;
}

.stat {
   text-align: center;
   width: 36px;
}

.player--name {
   font-size: 12px;
}

.player--name.team2 {
   text-align: end;
}

.versus {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.stat-diff {
   display: flex;
   justify-content: center;
   align-items: center;
}

.rounded-line {
   width: 25px;
   height: 5px;
   border-radius: 8px;
   margin: 1px auto;
}

.rounded-line.red {
   background-color: var(--red-team-color);
}

.rounded-line.blue {
   background-color: var(--blue-team-color);
}

.arrow.hidden {
   visibility: hidden;
}

.arrow.red {
   color: var(--red-team-color);
}

.arrow.blue {
   color: var(--blue-team-color);
}

.game-stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
}

.team-global-stats {
   display: flex;
   gap: 20px;
}

.stat-wrap {
   background-color: red;
   padding: 5px 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 16px;
   font-weight: 600;
   height: 25px;
   width: 40px;
}

.stat-wrap > .game-icon {
   height: 18px;
   width: 18px;
   font-size: 18px;
}

.stat-wrap.gold {
   width: 70px;
}

.barons {
   background-color: #4d62e5;
   box-shadow: 0 0 8px 3px rgba(222, 211, 235, 0.2);
}

.drakes {
   background-color: #587d71;
   box-shadow: 0 0 8px 3px rgba(212, 236, 212, 0.2);
}

.inhibs {
   background-color: #3f7cac;
   box-shadow: 0 0 8px 3px rgba(44, 156, 221, 0.2);
}

.towers {
   background-color: #618b25;
   box-shadow: 0 0 8px 3px rgba(212, 236, 212, 0.2);
}

.gold {
   background-color: #a89048;
   box-shadow: 0 0 8px 3px rgba(244, 226, 177, 0.2);
}

.player-stats-btns {
   display: flex;
   align-items: center;
   gap: 15px;
   justify-content: center;
   cursor: pointer;
}

.dmg-btn,
.gold-btn,
.cs-btn {
   background-color: #252530;
   padding: 10px;
   height: 25px;
   width: 25px;
   border-radius: 8px;
   transition: background-color 0.2s ease-in-out;
}

.dmg-btn:hover,
.gold-btn:hover,
.cs-btn:hover {
   background-color: #393949;
}

.dmg-btn.active,
.gold-btn.active,
.cs-btn.active {
   background-color: #39394e;
   border: 1px solid green;
}

.dmg-btn .game-icon {
   color: #7b51df;
}

.gold-btn {
   padding: 12px 10px 8px 10px;
}

.gold-btn .game-icon {
   color: #dab751;
}

.cs-btn img {
   height: 25px;
   width: 25px;
   filter: invert(100%) sepia(100%) saturate(1800%) hue-rotate(-70deg);
}

.game-details-wrapper {
   display: none;
}

.game-details-wrapper.active {
   display: block;
}

.stat-diff-value {
   width: 40px;
   text-align: center;
}

.expand-btn-wrapper {
   display: flex;
   justify-content: center;
   cursor: pointer;
}

.expand-btn {
   text-align: center;
   width: 30px;
}

.expandable-div {
   display: none;
}

.expandable-div.expanded {
   display: block;
}
