.wildcard-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.match-card.wildcard {
    height: 300px;
    padding: 25px;
    flex: 0 0 calc((100% / 3) - (16px * 2 / 3));
    box-sizing: border-box;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wildcard-title {
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.wildcard-pick {
    width: 100%;
    position: relative;
}

.wildcard-pick-image {
    display: flex;
    justify-content: center;
}

.wildcard-pick-image span {
    font-size: 100px;
    border: 10px solid #fff;
    border-radius: 50%;
}

.wildcard-pick-image img {
    height: 128px;
}

.wildcard-pick input {
    width: 100%;
    background-color: #21212b;
    border:1px solid rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    font-size: 15px;
    padding: 5px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.wildcard-dropdown-list {
    width: 100%;
    max-height: 200px;
    background-color: #0e0e13;
    overflow-y: auto;
    border:1px solid rgba(255, 255, 255, 0.13); 
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

.wildcard-dropdown-list::-webkit-scrollbar {
    width: 8px;
}

.wildcard-dropdown-list::-webkit-scrollbar-track {
    background-color: #0e0e13;
    border-radius: 4px;
}

.wildcard-dropdown-list::-webkit-scrollbar-thumb {
    background-color: #444452;
    border-radius: 4px;
}

.your-scrollable-field::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

.wildcard-dropdown-list.hidden {
    display: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #2e2e3b;
}

.dropdown-item img {
    width: 25px;
}

.predict-status.wc {
    margin: 0 !important;
}