{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSI 2024 Prediction Game</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>
    <script src="https://kit.fontawesome.com/2c665bbf8a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_left,arrow_right,ballot,block,bolt,check,group,keyboard_arrow_down,preview,question_mark,schedule,swords" />

</head>

<body>
<header>
    <nav>
        <div class="navbar--logo-user">
            <div class="logo-wrapper">
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="MSI logo"></a>
            </div>
            <div class="user-wrapper">

                {% if user.is_authenticated %}
                    <a href="{% url 'profile-details' logged_in_user.id %}">
                        <p class="user-name">{{ logged_in_user.profile.show_username }}</p>
                        {% if logged_in_user.profile.profile_picture %}
                            <img class="user-avatar" src="{{ logged_in_user.profile.profile_picture }}"
                                 alt="user-avatar">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="navbar--buttons">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wildcards' %}">Wildcards</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
                        <li><a href="{% url 'create_match' %}">Add a match</a></li>
                    {% endif %} 
                </ul>
            </div>
        {% endif %}
        </nav>
    </header>
    <div class="content-wrapper">
        <aside class="upcoming-matches">
            {% if upcoming_matches%}
            <h1 class="header-title">Upcoming matches</h1>
            <div class="predicts-container">
            {% for match_ctx in upcoming_matches %}
            <div class="match-card predict" data-predict-id="{{ match_ctx.match.match_id }}" data-match-date="{{ match_ctx.match.match_timedate }}">
                <div class="predict-wrapper">
                    <div class="p-info">
                        <div class="p-team-info">
                            <img src="{{ match_ctx.match.team_1.logo }}" alt="" />
                            <p>{{ match_ctx.match.team_1.name }}</p>
                        </div>
                        <div class="p-match-info">
                            <div class="p-date">{{ match_ctx.match.match_timedate|date:"m/d" }}</div>
                            <div class="p-time">{{ match_ctx.match.match_timedate|time:"h:i A" }}</div>
                            <div class="p-bo">BO5</div>
                        </div>
                        <div class="p-team-info">
                            <img src="{{ match_ctx.match.team_2.logo }}" alt="" />
                            <p>{{ match_ctx.match.team_2.name }}</p>
                        </div>
                    </div>
                    <div class="predict-slogan">
                        <p class="predict-slogan-text">WHO WILL WIN?</p>
                        <p class="predict-status">Vote now!
                        <span class="material-symbols-outlined bolt">bolt</span>
                        </p>
                        <p class="predict-status hidden">Saving...
                        <span class="spinner"></span>
                        </p>
                        <p class="predict-status hidden">Voted!
                        <span class="material-symbols-outlined check">check</span>
                        </p>
                        <p class="predict-status hidden">Locked
                        <span class="material-symbols-outlined block">block</span>
                        </p>
                        <div class="all-bets"> 
                            <div class="show-bets-btn"><span class="material-symbols-outlined">ballot</span></div>
                            <ul class="bets-container hidden">
                                {% for bet in match_ctx.bets %}
                                <li>
                                    <p class="bet-user">{{ bet.user.username }}</p> 
                                    <div class="bet-teams-container">
                                        <img class="bets-img" src="{{ match_ctx.match.team_1.logo }}" alt=""> {{ bet.team1_score }}-{{ bet.team2_score }}
                                        <img class="bets-img"src="{{ match_ctx.match.team_2.logo }}" alt="">
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="predict-options">
                        <div class="predict-options--teams">
                            <div class="predict-btn predict-team" data-team-color="{{ match_ctx.match.team_1.color }}">{{ match_ctx.match.team_1.name }}</div>
                            <div class="predict-btn predict-team" data-team-color="{{ match_ctx.match.team_2.color }}">{{ match_ctx.match.team_2.name }}</div>
                        </div>
                        <div class="predict-options--score">
                            <div class="predict-btn predict-score">3-0</div>
                            <div class="predict-btn predict-score">3-1</div>
                            <div class="predict-btn predict-score">3-2</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endif %}
        </aside>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>


    <footer>
        <div class="footer-wrap">
            <div class="personal-information">
                <p>Created by Krasimir Hristov</p>
                <div class="socials">
                    <a href="https://github.com/krasimir-hr">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://twitter.com/very_hardstuck">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/krasimir-hristov-7613a7279/">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'scripts/predicts.js' %}"></script>
    {{ user_bets|json_script:"userBetsData" }}
    <script> const userBets = JSON.parse(document.getElementById('userBetsData').textContent);</script>
</body>
</html>